---
title: Zasfe's TIL (Today I learned)
layout: page
---

<div id='tag_cloud'>
{% for cat in site.categories %}
	<a href="/categories/#{{ cat[0] }}" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} ({{ cat[1].size }})</a>
{% endfor %}
</div>

<ul class="listing">
{% for post in paginator.posts %}
	{% capture ym %}{{post.date | date:"%Y-%m"}}{% endcapture %}
	{% if year != ym %}
		{% assign year = ym %}
		<li class="listing-seperator">{{ ym }}</li>
	{% endif %}
	<li class="listing-item">
		<time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
		<a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		{% if site.truncate %}
		<p>{{ post.content | strip_html | truncate: site.truncate }}</p>
		{% endif%}
	</li>
{% endfor %}
</ul>

<div id="post-pagination" class="paginator">

	{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<a href="/"><前页</a>
		{% else %}
		<a href="{{ site.baseurl }}/page{{paginator.previous_page}}">&lt;이전</a>
		{% endif %}
	{% else %}
		<span class="previous disabled">&lt;이전</span>
	{% endif %}

			{% if paginator.page == 1 %}
			<span class="current-page">1</span>
			{% else %}
			<a href="/">1</a>
			{% endif %}

		{% for count in (2..paginator.total_pages) %}
			{% if count == paginator.page %}
			<span class="current-page">{{count}}</span>
			{% else %}
			<a href="/page{{count}}">{{count}}</a>
			{% endif %}
		{% endfor %}

	{% if paginator.next_page %}
		<a class="next" href="{{ site.baseurl }}/page{{paginator.next_page}}">다음&gt;</a>
	{% else %}
		<span class="next disabled" >다음&gt;</span>
	{% endif %}
	(총{{ paginator.total_posts }}개)
</div>

